MONGODB_URI=
MONGODB_DATABASE=

# https://cloud.walletconnect.com/
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

NEXT_PUBLIC_POKT_MULTISIG_ADDRESS=
NEXT_PUBLIC_POKT_CHAIN_ID=testnet
NEXT_PUBLIC_POKT_CONFIRMATIONS=1
NEXT_PUBLIC_POKT_RPC_URL=

NEXT_PUBLIC_WRAPPED_POCKET_ADDRESS=
NEXT_PUBLIC_MINT_CONTROLLER_ADDRESS=
NEXT_PUBLIC_ETH_CHAIN_ID=5
NEXT_PUBLIC_ETH_CONFIRMATIONS=8
NEXT_PUBLIC_ETH_RPC_URL=

NEXT_PUBLIC_PAUSED=false
